@model TuyenDungFPT.Models.Job

@{
    ViewData["Title"] = "Thêm công việc";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobCategoryId" class="control-label"></label>
                <select asp-for="JobCategoryId" class="form-control" asp-items="ViewBag.JobCategoryId">
                    <option value="">-- Chọn chuyên môn--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title_khongdau" class="control-label"></label>
                <input asp-for="Title_khongdau" class="form-control" />
                <span asp-validation-for="Title_khongdau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirements" class="control-label"></label>
                <input asp-for="Requirements" class="form-control" />
                <span asp-validation-for="Requirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryRange" class="control-label"></label>
                <input asp-for="SalaryRange" class="form-control" />
                <span asp-validation-for="SalaryRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Loại công việc:</label>
                <select asp-for="JobType" asp-items="Html.GetEnumSelectList<JobType>()" class="form-control">
                    <option value="">-- Chọn loại công việc --</option>
                </select>
            </div>
            <div class="mb-0">
                <button type="submit" class="btn btn-primary"><i class="fa-light fa-floppy-disk"></i> Thêm mới</button> hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#Description'), {
        licenseKey: '',
        }).then(editor => {
        window.editor = editor;
        }).catch(error => {
        console.error(error);
        });
    </script>
}
